* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /* border: 1px solid red; */
}

body {
    opacity: 0;
    animation: aparecerPagina 1s ease forwards;
    background: #0f0f0f;
    color: white;
}

@keyframes aparecerPagina {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* NAVBAR PRO */
.navbar {
    height: 100px;
    background: #111;
    border-bottom: 1px solid #333;
}

.navbar-nav {
    opacity: 0;
    transform: translateY(-30px);
    animation: menuEntrada 1s ease forwards;
    animation-delay: .5s;
}

@keyframes menuEntrada {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.nav-link {
    color: rgb(255, 255, 255);
    position: relative;
    transition: 0.3s;
}

/* EFECTO LINEA ABAJO */
.nav-link::after {
    content: "";
    width: 0%;
    height: 2px;
    background: #00ff88;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.3s;
}

.nav-link:hover {
    color: #00ff55;
}

.nav-link:hover::after {
    width: 100%;
}

.navbar-nav .nav-link {
    padding-bottom: 5px;
}

.dropdown-menu {
    border-radius: 10px;
}

.menu a:hover {
    color: #00ff88;
    background: none;
}

.dropdown-toggle::after {
    display: none;
}

.logo {
    display: flex;
    align-items: center;

    opacity: 0;
    transform: translateX(-50px);
    animation: logoEntrada 1s ease forwards;
    animation-delay: .3s;
}

@keyframes logoEntrada {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.img {
    height: 100px;
    width: 100px;
}

.btn-whatsapp {
    background: #00c853;
    padding: 7px 7px;
    margin-right: 30px;
    border-radius: 50%;
    text-decoration: none;
    color: white;
}

.img-wats {
    height: 30px;
}

/* HERO */

.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;

    padding-left: 60px;
    padding-top: 90px;
    background-repeat: no-repeat;

    background:
        linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url('./img/Hero/photo-1771226281112-b7119ef4112e.avif');

    background-size: cover;
    background-position: center;
}

.hero-text {
    opacity: 0;
    transform: translateY(50px);
    animation: heroEntrada 1s ease forwards;
    animation-delay: .8s;
}

@keyframes heroEntrada {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.hero p {
    color: #8e8e8e;
    margin-bottom: 20px;
}

.hero button {
    background: #979797;
    border: none;
    padding: 12px 25px;
    cursor: pointer;
    border-radius: 5px;
    transition: .3s;
}

.hero button:hover {
    background: #787878;
    color: aliceblue;
}

/* PRODUCTOS */

.contacto {
    padding: 60px;
    text-align: center;
}

.contacto h2 {
    margin-bottom: 40px;
    font-size: 30px;
}

/* MAYOREO */

.mayoreo {
    padding: 80px;
    text-align: center;
    background: #151515;
}

.mayoreo h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.mayoreo p {
    margin-bottom: 20px;
    color: #aaa;
}

.mayoreo button {
    background: #c0c0c0;
    border: none;
    padding: 12px 30px;
    cursor: pointer;
    border-radius: 6px;
}

.btn-cotizacion {
    font-size: 15px;
    text-decoration: none;
    color: #000000;
}

/* FOOTER */

footer {
    padding: 30px;
    text-align: center;
    background: #111;
    border-top: 1px solid #333;
}

/* Ajuste Bootstrap sin romper diseño */
.container,
.container-fluid {
    padding: 0;
}

.reveal{
    opacity: 0;
    transform: translateY(50px);
    transition: all .8s ease;
}

.reveal.active{
    opacity: 1;
    transform: translateY(0);
}